{{#details}}
<h2>Recipe Details</h2>
<p>Name: {{name}}</p>
<p>Recipe Steps: </p>
<ul>
{{#steps}}
        <li>{{.}}</li>
{{/steps}}
</ul><br>
<p>Ingredients: </p>
<ul>
{{#ingredients}}
        <li>{{.}}</li>
{{/ingredients}}
</ul><br>
<p>Other Information: {{info}}</p>
{{/details}}